.searchBar{
    flex-direction: row;
    display: inline-block;
    font-family: 'Lora', serif;
    font-size: 2em;
    margin-bottom: auto;
    text-align: left;
}
.promptText{
    text-align: left;
    vertical-align: bottom;
    margin-top:10%;
    font-family: 'Lora', serif;
}

