.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

#weatherPage .page__background {
  background-image: url('./background2.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover
}

@media (max-width: 780px) {
  ons-row {
    flex-direction: column;
  }
}

#contentBackground {
  background-color: rgba(211, 211, 211,.8);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

#logo {
  width: 60%;
}

.cityName{
  font-family: 'Lora', serif;
  font-size: 2em;
  font-weight: bold;
}